@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1em;
  color: #0A3871;
  background-color: #F3F5FC;
  width: 100%;
  display: flex;
  overflow-y: visible;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  transition: color 0.5s, background 0.5s;
}
body.dark {
  color: white;
  background-color: #0A3871;
}

main {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
}

/**
 * Basic typography style for copy text
 */
.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

@-webkit-keyframes horizontal-shaking-1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes horizontal-shaking-1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes horizontal-shaking-2 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes horizontal-shaking-2 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
.horizontal-shaking-1 {
  -webkit-animation: horizontal-shaking-1 0.2s 2;
          animation: horizontal-shaking-1 0.2s 2;
}
.horizontal-shaking-2 {
  -webkit-animation: horizontal-shaking-2 0.2s 2;
          animation: horizontal-shaking-2 0.2s 2;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  padding: 24px 16px;
  max-width: 1440px;
}
@media (min-width: 768px) {
  .main-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 74.72px 40px 0;
  }
}
@media (min-width: 1440px) {
  .main-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px 88px 0;
  }
}
.main-header__dark-mode-container {
  height: 48px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header path {
  transition: fill 0.5s;
}

body.dark .main-header path {
  fill: white;
}

.main-footer {
  padding: 0 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1440px;
}
.main-footer__copyright {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.main-footer__copyright-container {
  width: 24px;
  height: 24px;
}
.main-footer__link-container {
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: stretch;
  width: 48px;
  height: 48px;
}
.main-footer__firma-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-footer path {
  transition: fill 0.5s;
}

body.dark .main-footer path {
  fill: white;
}

.main-game {
  flex-grow: 1;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 64px 16px 16px;
  max-width: calc(100% - 32px);
  transition: left 0.25s;
  position: relative;
}
@media (min-width: 768px) {
  .main-game {
    margin: 40px 40px 40px;
    max-width: 1000px;
  }
}
@media (min-width: 1440px) {
  .main-game {
    margin: 25px 376px 25px;
    max-width: 1000px;
  }
}
.main-game__ahorcado-container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .main-game__ahorcado-container {
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .main-game__ahorcado-container {
    margin-bottom: 100px;
  }
}
.main-game__button-panel-container {
  width: 100%;
  height: 100%;
}

.main-add {
  flex-grow: 1;
  margin: 80px 16px 24px;
  display: flex;
  right: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  transition: right 0.25s;
  position: relative;
}
@media (min-width: 768px) {
  .main-add {
    margin: 118.09px 40px 40px;
    max-width: 1000px;
  }
}
@media (min-width: 1440px) {
  .main-add {
    margin: 150px 376px 150px;
  }
}
.main-add__input-container {
  padding-bottom: 251px;
  cursor: text;
}
@media (min-width: 768px) {
  .main-add__input-container {
    padding-bottom: 595px;
  }
}
@media (min-width: 1440px) {
  .main-add__input-container {
    padding-bottom: 363px;
  }
}
.main-add__clarification-container {
  margin-bottom: 16px;
}

.main-start {
  position: relative;
  flex-basis: 317px;
  margin: 185px 29px;
  right: 0;
  transition: right 0.25s;
}
@media (min-width: 768px) {
  .main-start {
    margin: 338px auto 185px;
  }
}
@media (min-width: 1440px) {
  .main-start {
    margin: 314px auto 185px;
  }
}
.main-start__button-panel-container {
  height: 100%;
  width: 100%;
}

.ahorcado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.ahorcado__person-container {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .ahorcado__person-container {
    margin-bottom: 56px;
  }
}
@media (min-width: 1440px) {
  .ahorcado__person-container {
    margin-bottom: 120px;
  }
}
.ahorcado__letters-container {
  width: 100%;
}

.letters {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.letters__char {
  min-width: 16px;
  max-width: 72px;
  display: flex;
  flex: 1 1 16px;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.letters__char-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}
.letters__try {
  font-size: 24px;
  line-height: 150%;
  flex-basis: 36px;
  text-align: center;
}
.letters__try-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  height: 36px;
}

.char {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 16px;
  transform: scale(2);
  transition: transform 0.5s;
  color: inherit;
}
@media (min-width: 768px) {
  .char {
    font-size: 48px;
  }
}
.char--missed {
  color: #ff0000;
  transform: scale(1);
}

.underscore {
  width: 100%;
  border-bottom: 4px solid;
}

.person {
  overflow: visible;
}
.person__part {
  position: relative;
  z-index: 99;
  transition: fill 0.5s;
}

body.dark .person * {
  fill: white;
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  color: inherit;
  border: 1px solid;
  background: transparent;
  padding: 0;
  font-size: inherit;
}
.button--dark {
  background-color: #0A3871;
  color: white;
  transition: color 0.5s, background 0.5s;
  border: none;
}
.button-disabled-message {
  position: absolute;
  opacity: 0;
  bottom: 0;
  font-size: 11px;
  padding: 4px 12px;
  border: 1px solid;
  border-radius: 20px;
  z-index: 3;
  pointer-events: none;
  background-color: inherit;
  transition: bottom 0.5s, opacity 0.5s, background 0.5s;
}
@media (min-width: 768px) {
  .button-disabled-message {
    font-size: 13px;
    padding: 8px 12px;
  }
}
.button:disabled {
  cursor: not-allowed;
  filter: opacity(0.5);
}
.button:disabled:hover + .button-disabled-message {
  bottom: -15px;
  opacity: 1;
}
@media (min-width: 768px) {
  .button:disabled:hover + .button-disabled-message {
    bottom: -35px;
  }
}

body.dark .button--dark {
  background-color: #F3F5FC;
  color: #0A3871;
}

.button-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .button-panel {
    flex-direction: row;
  }
}
.button-panel--start {
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .button-panel--start {
    gap: 38px;
  }
}
.button-panel__button-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  position: relative;
  z-index: 5;
}
.button-panel__button-container--thin {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .button-panel__button-container--thin {
    padding: 0 6.5px;
  }
}
@media (min-width: 1440px) {
  .button-panel__button-container--thin {
    padding: 0 20px;
  }
}
.button-panel__button-container--large {
  height: 105px;
}

.input-word {
  font-size: 32px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
}
.input-word::-moz-placeholder {
  color: inherit;
}
.input-word:-ms-input-placeholder {
  color: inherit;
}
.input-word::placeholder {
  color: inherit;
}

.clarification {
  display: flex;
  gap: 8px;
}
.clarification__description {
  color: #495057;
}

body.dark .clarification__description {
  color: white;
}
body.dark .clarification path {
  fill: white;
}

.input-invisible {
  opacity: 0;
  width: 0;
  position: absolute;
}

.github-link__svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.github-link__svg--hover-hide {
  display: block;
}
.github-link__svg--hover-show {
  display: none;
}
.github-link:hover > .github-link__svg--hover-hide {
  display: none;
}
.github-link:hover > .github-link__svg--hover-show {
  display: block;
}

body.dark .github-link path {
  fill: white;
}

.linkedin-link__svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.linkedin-link__svg--hover-hide {
  display: block;
}
.linkedin-link__svg--hover-show {
  display: none;
}
.linkedin-link:hover > .linkedin-link__svg--hover-hide {
  display: none;
}
.linkedin-link:hover > .linkedin-link__svg--hover-show {
  display: block;
}

body.dark .linkedin-link path {
  fill: white;
}

.message-win, .message-lose {
  background-color: white;
  color: #0A3871;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 24px;
  border: 2px solid;
}
@media (min-width: 768px) {
  .message-win, .message-lose {
    width: 400px;
    height: 450px;
    gap: 25px;
  }
}
@media (min-width: 1440px) {
  .message-win, .message-lose {
    gap: 35px;
    width: 600px;
  }
}
.message-win-container, .message-lose-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.5s;
}
.message-win img, .message-lose img {
  width: 200px;
  height: 200px;
  border-radius: 40px;
}
@media (min-width: 768px) {
  .message-win img, .message-lose img {
    width: 250px;
    height: 250px;
  }
}
.message-win p, .message-lose p {
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .message-win p, .message-lose p {
    font-size: 2em;
  }
}
@media (min-width: 1440px) {
  .message-win p, .message-lose p {
    font-size: 2.5em;
  }
}

body.dark .message-win, body.dark .message-lose {
  background-color: #0A3871;
  color: white;
}

@-webkit-keyframes translate-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}

@keyframes translate-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes translate-left {
  0% {
    right: 0;
  }
  100% {
    right: 50%;
  }
}
@keyframes translate-left {
  0% {
    right: 0;
  }
  100% {
    right: 50%;
  }
}
.dark-mode-checkbox {
  display: none;
}
.dark-mode-checkbox:checked + header .dark-mode-button {
  -webkit-animation: translate-right 0.5s forwards;
          animation: translate-right 0.5s forwards;
}
.dark-mode-label {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 56, 113, 0.5);
  border-radius: 40px;
  transition: background 0.5s;
}
.dark-mode-button {
  -webkit-animation: translate-left 0.5s forwards;
          animation: translate-left 0.5s forwards;
  position: absolute;
  background-color: #0a3871;
  height: 100%;
  width: 50%;
  border-radius: 40px;
  transition: background 0.5s;
}
.dark-mode-text {
  display: none;
}
.dark-mode-icon--light path {
  fill: #f3f5fc;
  transition: fill 0.5s;
}
.dark-mode-icon--dark path {
  fill: rgba(243, 245, 252, 0.75);
  transition: fill 0.5s;
}
.dark-mode-names {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 7.5px;
  align-items: center;
}
.dark-mode-light, .dark-mode-dark {
  position: relative;
  z-index: 5;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
}

body.dark .dark-mode-label {
  background-color: rgba(255, 255, 255, 0.5);
}
body.dark .dark-mode-button {
  background-color: white;
}
body.dark .dark-mode-icon--light path {
  fill: rgba(10, 56, 113, 0.75);
}
body.dark .dark-mode-icon--dark path {
  fill: #0a3871;
}/*# sourceMappingURL=main.css.map */