.main-add {
    // align-self: stretch;
    flex-grow: 1;
    margin: 80px 16px 24px;
    // flex-basis: 343px;
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    transition: right 0.25s;
    position: relative;

    // display: none;
    @media (min-width: 768px) {
        margin: 100px 40px 40px;
        max-width: 1000px;
        // max-width: 668px;
    }

    @media (min-width: 1440px) {
        margin: 100px 376px 150px;
    }

    &__input-container {
        padding-bottom: 200px;
        cursor: text;

        @media (min-width: 768px) {
            padding-bottom: 595px;
        }
    
        @media (min-width: 1440px) {
            padding-bottom: 363px;
        }
    }

    &__clarification-container {
        margin-bottom: 16px;
    }
}