* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    color: #0A3871;
    background-color: #F3F5FC;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}